<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forfoodiesbyfoodies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ForFoodiesByFoodies">
        <activity
            android:name=".Forum.AnwersForumList"
            android:exported="false" />
        <activity
            android:name=".Forum.AddTopic"
            android:exported="false" />
        <activity
            android:name=".Forum.ForumList"
            android:exported="false" />
        <activity
            android:name=".Models.View_Users"
            android:exported="false" />
        <activity
            android:name=".AdapterStreetFood.SelectedStreetFoodPage"
            android:exported="false" />
        <activity
            android:name=".AdapterStreetFood.StreetFoodList"
            android:exported="false" />
        <activity
            android:name=".AdapterStreetFood.StreetFoodAdapter"
            android:exported="false" />
        <activity
            android:name=".Reviews.add_review"
            android:exported="false" />
        <activity
            android:name=".Reviews.ReviewsList"
            android:exported="false" />
        <activity
            android:name=".Views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.SelectPage"
            android:exported="false" />
        <activity
            android:name=".Views.TermAndConditions"
            android:exported="false" />
        <activity
            android:name=".Views.RegisterUser"
            android:exported="false" />
        <activity
            android:name=".Views.BookTable"
            android:exported="false" />
        <activity
            android:name=".Views.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Views.Login"
            android:exported="false" />
        <activity
            android:name=".StreetFoodAdd.add_street_food"
            android:exported="false" />
        <activity
            android:name=".Models.UserPage"
            android:exported="false" />
        <activity
            android:name=".RestaurantAdd.add_restaurant"
            android:exported="false" />
        <activity
            android:name=".Adapters.SelectedRestaurantPage"
            android:exported="false" />
        <activity
            android:name=".Adapters.RestaurantsList"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>